<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Meow_Clothing_Store/public/

    # Prevent direct access to files that shouldn't be accessed directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all requests to index.php
    RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>
